<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Timeseries and Datetime

_Authors: Samuel Stack (DC)_

---

### Learning Objectives
- Use the datetime library to represent dates as objects
- Learn how to calculate time differences with timedelta
- Use datetime objects in pandas on the UFO dataset

### Lesson Guide
- [The `datetime` library](#the-datetime-library)
- [`datetime` object](#datetime-object)
- [`timedelta`](#timedelta)
- [Load the UFO reports data](#load-the-ufo-reports-data)
- [Pandas' `pd.datetime`](#pandas-pddatetime)
	- [The `.dt` attribute](#the-dt-attribute)
- [Time stamps](#time-stamps)
- [Additional resources](#additional-resources)

<a id="the-datetime-library"></a>
## The `datetime` library
---

The python library `datetime` is great for dealing with time-related data. Pandas being Pandas has incorporated this `datetime` library into its own datetime series and objects.

We're going to review these data types and learn a little more about them.
- Datetime Object
- Datetime Series
- Time Stamp
- Time Delta

<a id="datetime-object"></a>
## `datetime` object
---

Below we can load in the datetime library. Using this we can create a datetime object by entering in the different components of the date as arguments.

In [1]:
# The Date time library is something you should already have because of Anaconda.
from datetime import datetime
# And probabily already familiar with.

# Lets just set a random datatime.  Not the end of the world or anything.
lesson_date = datetime(2012, 12, 21, 12, 21, 12, 844089)

The components of the date are accessible via attributes of the object.

In [2]:
print "Micro-Second", lesson_date.microsecond
print "Second", lesson_date.second
print "Minute", lesson_date.minute
print "Hour", lesson_date.hour
print "Day", lesson_date.day
print "Month",lesson_date.month
print "Year", lesson_date.year

Micro-Second 844089
Second 12
Minute 21
Hour 12
Day 21
Month 12
Year 2012

<a id="timedelta"></a>
## `timedelta`
---

Say we want to add time to a date or subtract time.  Maybe we are using time as an index and we want to get everything that happened a week before a specific observation.

We can use a timedelta object to shift (do arithmatic, more or less) a datetime object. Here's an example:

In [3]:
# Import timedelta from datetime library
from datetime import timedelta

# Time deltas represent time as an amount as opposed to a fixed position.
offset = timedelta(days=1, seconds=20)

# the time delta has attributes that allow us to extract values from it.
print 'offset days', offset.days
print 'offset seconds', offset.seconds
print 'offset microseconds', offset.microseconds

offset days 1
offset seconds 20
offset microseconds 0

The `.now()` function of datetime will give you the datetime object of this very moment.

In [4]:
now = datetime.now()
print "Like Right Now: ", now

Like Right Now:  2017-04-03 15:20:55.971839

The current time is particularly useful when using timedeltas.

In [5]:
print "Future: ", now + offset
print "Past: ", now - offset

Future:  2017-04-04 15:21:15.971839
Past:  2017-04-02 15:20:35.971839

> _Note: The largest value a Time Delta can hold is 'Days'.  I.e. you can't say your want you an offset to be 2 years, 44 days and 12 hours.  You would have to manually convert the time of those years to be represented in days._

You can read more about that here in the timedeltas category.
https://docs.python.org/2/library/datetime.html

<a id="load-the-ufo-reports-data"></a>
## Load the UFO reports data
---

We can practice using datetime functions and objects with the UFO reports data.

In [6]:
# Get a dataset from the internets
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [7]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

The "Time" column starts off as just an object.

In [8]:
# We can see that the Time column is just an object.
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

<a id="pandas-pddatetime"></a>
## Pandas' `pd.datetime`
---

When using pandas we can convert columns of data from string objects into date objects with the `pd.to_datetime` function.

> **Note**: dates can be tricky to parse as they come in many formats. The `to_datetime` function comes with a keyword argument `infer_datetime_format` that can be particularly useful to parse dates.

In [9]:
#Overwrite the original Time column with one that has been converted to a datetime series.
ufo['Time'] = pd.to_datetime(ufo.Time)

#Letting pandas guess how to do this can take a little bit of time we can use a few arguments to help.
'''ufo['Time'] = pd.to_datetime(ufo.Time, format='%Y%m%d', errors='coerce')'''
# Format will let pandas know what format pandas should use to interpret the date as
# errors will allow you to automatically deal with errors when converting.

"ufo['Time'] = pd.to_datetime(ufo.Time, format='%Y%m%d', errors='coerce')"

In [10]:
# We've had a little bit of change to the time columns structure.
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [11]:
# We can see the Time object has changed.  
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

<a id="the-dt-attribute"></a>
### The `.dt` attribute

Pandas datetime columns have a `.dt` attribute that allows you to access attributes specific to the dates. For example:
```python
ufo.Time.dt.day
ufo.Time.dt.month
ufo.Time.dt.year
ufo.Time.dt.weekday_name
```

And many more.

In [17]:
ufo.Time.dt.weekday_name.head()

0     Sunday
1     Monday
2     Sunday
3     Monday
4    Tuesday
Name: Time, dtype: object

In [18]:
ufo.Time.dt.dayofyear.head()

0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

<a id="time-stamps"></a>
## Time stamps
---

Timestamps are useful objects for comparisons. You can create a timestamp object with the `pd.to_datetime` function and a string specifying the date. These timestamps are useful when you need to do logical filtering with dates.

In [19]:
# Time Stamp
ts = pd.to_datetime('1/1/1999')
ts
# The main difference between a DateTime object and a Timestamp is...
# that Timestamps can be used as comparisions.

Timestamp('1999-01-01 00:00:00')

In [20]:
# Use that Time Stamp for a comparison.
ufo.loc[ufo.Time >= ts, :].head()

,City,Colors Reported,Shape Reported,State,Time
12832,Loma Rica,NaN,LIGHT,CA,1999-01-01 02:30:00
12833,Bauxite,NaN,NaN,AR,1999-01-01 03:00:00
12834,Florence,NaN,CYLINDER,SC,1999-01-01 14:00:00
12835,Lake Henshaw,NaN,CIGAR,CA,1999-01-01 15:00:00
12836,Wilmington Island,NaN,LIGHT,GA,1999-01-01 17:15:00

In [21]:
# We can even get the first and last dates from a timeseries
ufo.Time.max() - ufo.Time.min()

Timedelta('25781 days 01:59:00')

In [ ]:
# I'd imagine months and years are not consistant in length and like weeks, 
# who cares about weeks!  They're just seven days.

<a id="additional-resources"></a>
## Additional resources
---
- search for .dt. on http://pandas.pydata.org/pandas-docs/stable/api.html for more information about pandas Datetime.
- [Here is an example of a GCT executed on deconstructed data on Sam Stack's capstone project.](https://github.com/samuel-stack/Portfolio/blob/master/Moving%20Violations%20VS.%20Speed%20Traps/Granger%20Causality%20test%20.ipynb)