In [1]:
import numpy as np
import pandas as pd

In [2]:
vector1 = np.array([1,2,3,4])
vector2 = np.array([5,6,7,8])

In [3]:
np.concatenate([vector1, vector2])

array([1, 2, 3, 4, 5, 6, 7, 8])

In [4]:
vec1_2d = vector1[:, np.newaxis]
print vector1, vector1.shape
print vec1_2d, vec1_2d.shape

[1 2 3 4] (4L,)
[[1]
 [2]
 [3]
 [4]] (4L, 1L)

In [6]:
# ^^^where did these 'L's come from?  --sam.  Python 3.0??
vec1_2d = vector1[:, np.newaxis]
print vector1, vector1.shape
print vec1_2d, vec1_2d.shape

[1 2 3 4] (4,)
[[1]
 [2]
 [3]
 [4]] (4, 1)

<b>THere is a big difference between a vector of shape (4,) and another vector with shape (4,1). Especially when it comes to matrix multiplications, Numpy prefers to operate with Vectors of shape (R,1) where R is Rows.</b> 
See the following discussion to understand more:
http://stackoverflow.com/questions/22053050/difference-between-numpy-array-shape-r-1-and-r

In [5]:
vec1_2d = vector1[np.newaxis, :]
print vector1
print vec1_2d

[1 2 3 4]
[[1 2 3 4]]

<h3>You can also concatenate two arrays either horizontally or vertically. But notice that they have to be the same shape if stacking vertically.</h3>

In [3]:
arr = np.array([0,0,0])
arra = np.array([1,2,3])
arr1 = np.hstack([arr,arra])
print arr1

[0 0 0 1 2 3]

In [6]:
arrb = np.array([4,5,6])
arr2 = np.vstack((arr, arrb))
print arr2

[0 0 0 1 2 3]
[[0 0 0]
 [4 5 6]]

<h3>You can also use concatenate along axis in order to do the same</h3>

In [23]:
#### To add vertically, use axis=0 and to add horizontally use axis=1
#### Notice that adding a new axis changes 1D vector shapes into 2D. 
####   This causes the concatenation along axis to behave differently 
####   than concatenating 1D shapes. So be careful. This can be very
####   confusing to remember. It is better to remember the hstack and 
####   vstack commands than the axis=0 or axis=1 commands.
vec1_2d = vector1[np.newaxis, :]
vec2_2d = vector2[np.newaxis, :]

vec3= np.concatenate([vec1_2d, vec2_2d], axis=1)
vec3

[1 2 3 4 5 6]

<h3>Concatenation using Pandas Data Frames is Easier to be Understood</h3>

In [4]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[0,1,2,3])

<h4>To add two dataframes vertically, use axis = 0</h4>

In [5]:
pd.concat([df1, df2], axis=0)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [6]:
#Concatenate df1 and df2 by stacking them horizontally.
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

<h4>Perhaps we don't care about the row labels during the horizontal concatenation. If you reset the index for df2 prior to the concatenation it will not fill in null values:</h4>

In [39]:
pd.concat([df1, df2.reset_index(drop=True)], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [7]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data)
df_a

  first_name last_name subject_id
0       Alex  Anderson          1
1        Amy  Ackerman          2
2      Allen       Ali          3
3      Alice      Aoni          4
4     Ayoung   Atiches          5

In [8]:
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_b = pd.DataFrame(raw_data)
df_b

  first_name last_name subject_id
0      Billy    Bonder          4
1      Brian     Black          5
2       Bran   Balwner          6
3      Bryce     Brice          7
4      Betty    Btisan          8